html,
body {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    height     : 100%;
    width      : 100%;
    font-family: "Urbanist", sans-serif;
}

*,
*::before,
*::after {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4 {
    margin : 0;
    padding: 0;
}

a,
img,
span,
input,
button,
.ion-icon {
    display: block;
}

.h1 {
    font-size  : 3.8rem;
    color      : white;
    font-weight: 600;
    line-height: 1.3;
}

.h2 {
    font-size: 1.9rem;
}

.h2,
.h3 {
    color      : black;
    font-weight: 600;
    line-height: 1.3;
}

a {
    text-decoration: none;
    color          : inherit;
}

li {
    list-style: none;
    margin    : 0;
    padding   : 0;
}

.ion-icon {
    /* font-size: 1.8rem */
    height    : 30px;
    transition: color 0.3s ease;
}

img {
    height : auto;
    display: block;
}

button,
input {
    background: none;
    border    : none;
    font      : inherit;
}

input {
    width: 100%;
}

.seccion {
    padding-block: 35px;
}

.tiene-bg-image {
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center;
}

.btn {
    font-weight  : 600;
    max-width    : max-content;
    padding      : 20px 30px;
    border-radius: 3px;
    transition   : 1s ease;
}

.btn-primary {
    background-color: black;
    color           : white;
}

.btn-primary:is(:hover, :focus) {
    background-color: hsl(41, 74%, 70%);
}

button {
    cursor: pointer;
}

.btn-link {
    font-size  : 1.2rem;
    color      : hsl(0, 1%, 15%);
    font-weight: 600;
    display    : flex;
    align-items: center;
    gap        : 3px;
    transition : 0.25 ease;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.header .container,
.hero .container {
    padding-inline: 15px;
}


/*HEADER*/



.header {
    position         : relative;
    padding-block-end: 60px;
}

.alerta {
    background-color: hsl(148, 20%, 38%);
    color           : white;
    font-size       : 1.2rem;
    text-transform  : uppercase;
    font-weight     : 700;
    letter-spacing  : 2px;
    text-align      : center;
    padding-block   : 15px;

}

.header-top {
    position        : unset;
    padding-block   : 26px 0;
    background-color: white;
    margin-bottom   : 30px;
}

.header-top .container {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    background-color: white;
    gap             : 20px;
}

.header .input-busqueda,
.acciones-header .navbar {
    display : block;
    position: relative;
}

.campo-buscar {

    border            : 2px solid hsl(148, 20%, 38%, 0.2);
    border-radius     : 3px;
    padding           : 10px 20px;
    padding-inline-end: 40px;
    transition        : 0.25s ease;
    font-size         : 0.9rem;
    position          : relative;
}

.campo-buscar::placeholder {
    color: hsl(0, 0%, 61%);
}

.btn-buscar {
    position : absolute;
    transform: translateY(-50%);
    top      : 48%;
    right    : 10px;
}

.btn-buscar .ion-icon {
    color: hsl(0, 1%, 15%);
}

.logo {
    margin-inline-start: 60px;
}

.acciones-header {
    display    : flex;
    gap        : 40px;
    align-items: center;
}

.acciones-header-btn {
    position: relative;
}

.acciones-header-btn .btn-insignia {
    position        : absolute;
    top             : 0;
    right           : -10px;
    background-color: black;
    color           : white;
    border-radius   : 20px;
    min-width       : 18px;
    height          : 18px;
    vertical-align  : middle;
}

.acciones-header-btn:last-child {
    display    : flex;
    align-items: center;
    gap        : 10px;
}

.acciones-header-btn data {
    font-weight: bold;

}

.navbar {
    position        : absolute;
    bottom          : 0;
    left            : 0;
    width           : 100%;
    background-color: white;
    padding-block   : 18px;
}

.navbar .navbar-lista {
    display        : flex;
    justify-content: center;
    gap            : 45px;
}

.navbar .navbar-link {
    color      : black;
    font-size  : 1.1rem;
    font-weight: 700;
}

.navbar .navbar-link {
    color      : black;
    font-size  : 1.1rem;
    font-weight: 700;
    position   : relative;
}

.navbar .navbar-link::after {
    content         : '';
    position        : absolute;
    bottom          : 0;
    left            : 0;
    width           : 100%;
    height          : 1.5px;
    background-color: black;
    transition      : transform 0.25s ease;
    transform       : scaleX(0);
    transform-origin: left;
}

.navbar .navbar-link:hover::after,
.navbar .navbar-link:focus::after {
    transform: scaleX(1);
}

/*Hero*/
.hero {
    margin-top : 0;
    padding-top: 0;
}

.hero-card {
    background-color: hsl(0, 0%, 88%);
    padding         : 80px 90px;
}

.tiene-scrollbar {
    margin : 0;
    padding: 0;
}

.hero-texto {
    font-size       : 1.2rem;
    background-color: rgba(0, 0, 0, 0.5);
    color           : white;
    margin-block    : 20px 20px;
    padding         : 1%;
    max-width       : 38ch;
}

.hero .precio {
    font-size       : 1.3rem;
    color           : white;
    font-weight     : 600;
    margin-block-end: 40px;
}

.tiene-scrollbar {
    display          : flex;
    gap              : 15px;
    overflow-x       : scroll;
    padding-block-end: 15px;
    margin-block-end : -15px;
    scroll-snap-type : inline mandatory;
}

.scrollbar-item {
    overflow-x      : auto;
    min-width       : 100%;
    scroll-snap-type: start;
}

.tiene-scrollbar::-webkit-scrollbar {
    width : 16px;
    height: 16px;
}

.tiene-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.tiene-scrollbar::-webkit-scrollbar-thumb {
    background   : #888;
    border-radius: 8px;
    border       : 3px solid #f1f1f1;
}

.tiene-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/*CATEGORIÍAS*/

.categorias {
    padding-block-start: 0;
}

.categorias-lista {
    display              : grid;
    gap                  : 30px;
    grid-template-columns: repeat(4, 1fr);
    padding-inline       : 30px;
    padding-block        : 30px;
    background-image     : url(/img/categorias-fondo.jpg);
    background-color     : rgba(255, 255, 255, 0.2);
    background-blend-mode: overlay;
}

.categorias-card {
    background-color : white;
    min-height       : 400px;
    padding          : 30px 40px;
    padding-block-end: 30px;
    display          : flex;
    flex-direction   : column;
    position         : relative;
    box-shadow       : 2px 2px 4px rgb(133, 131, 131);
}

.categorias-card .card-titulo {
    margin-block-end: 12px;
}


.categorias-card h2,
a {
    z-index: 5;
}

.categorias-card .tiene-bg-image {
    position  : absolute;
    top       : 20%;
    right     : 10%;
    bottom    : 20%;
    left      : 10%;
    z-index   : 1;
    transition: 0.5 ease;
}
.categorias-card img{
    height: 100%;
}

.categorias-card a {
    position: absolute;
    bottom  : 5%;
}

/*COMPRA*/
.ulproducto {
    width   : auto;
    position: relative;
}


.scrollbar-item-producto {
    box-shadow: 2px 4px 2px rgb(161, 159, 159);
    min-width : 20%;
    height    : 65vh;
}

.compra .container {
    padding-inline: 35px;
}

.compra .tiene-scrollbar {
    gap: 45px;
}

.compra-card {
    height: 100%;
    width : 100%;

}

.compra .titulo-contenedor {
    display         : flex;
    flex-wrap       : wrap;
    justify-content : space-between;
    align-items     : center;
    gap             : 10px;
    margin-block-end: 50px;
}

.compra .btn-link:is(:hover, :focus) {
    color: hsl(148, 20%, 38%);
}

.compra-card .card-banner {
    position: relative;
    overflow: hidden;
    height  : 65%;
}

.img-cover {
    width     : 100%;
    height    : 100%;
    size      : auto;
    object-fit: cover;
}

.compra-card .descuento {
    position: absolute;
    top     : 20px;
    left    : 20px;
}

.compra-card .card-acciones {
    position  : absolute;
    top       : 50%;
    right     : 0;
    transform : translate(0, -50%);
    display   : grid;
    gap       : 10px;
    opacity   : 0;
    transition: 0.5s ease;
}

.compra-card .btn-accion {
    background-color: white;
    font-size       : 24px;
    padding         : 12px;
    border-radius   : 50%;
    transition      : 0.25s ease;
    color           : black;
}

.compra-card .btn-accion:is(:hover, :focus) {
    color: white;
}

.compra-card:is(:hover, :focus-within) .card-acciones {
    opacity  : 1;
    transform: translate(-20px, -50%);
}

.compra-card .card-contenido {
    padding-block: 20px;
    text-align   : center;
}

.compra-card :is(.precio, .card-valuacion, .valuacion-contenedor) {
    display        : flex;
    justify-content: center;
    align-items    : center;
    gap            : 5px;
}

.compra-card .del {
    font-size  : 1.1rem;
    font-weight: 400;
}

.compra-card .precio .span {
    color      : black;
    font-weight: 700;
    font-size  : 1.2rem;
}

.compra-card .card-titulo {
    color           : black;
    font-size       : 1rem;
    font-weight     : 500;
    margin-block-end: 8px;
    transition      : 0.25s ease;
    cursor          : pointer;
}

.compra-card .card-titulo:is(:hover, :focus) {
    text-decoration: underline;
    color          : hsl(148, 20%, 38%);
}

.compra-card .valuacion-contenedor {
    gap      : 2px;
    color    : hsl(148, 20%, 38%);
    font-size: 15px;
}

.valuacion-contenedor img {
    height: 15px;
    color : hsl(148, 20%, 38%);

}

.compra-card .valuacion-texto {
    font-size  : .9rem;
    font-weight: 400;
    line-height: 1;
    color      : #555;
}

.descuento {
    max-width       : max-content;
    background-color: hsl(148, 20%, 38%);
    color           : white;
    font-weight     : 700;
    padding-block   : 4px;
    padding-inline  : 14px;
    border-radius   : 3px;
}

.img-holder {
    background-color: #888;
}
