.container-toast {
    position: absolute;
<<<<<<< HEAD
    right: 10px;
    top: 10px;
    width: 25%;
}

.toast {
    border: 1px solid black;
    align-items: center;
    display: grid;
    gap: 10px;
    grid-template-columns: 20px auto 20px;
    padding: 10px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    min-height: 10vh;
    opacity: 0;
    font-weight: bolder;
=======
    right   : 10px;
    top     : 10px;
    width   : 25%;
}

.toast {
    border               : 1px solid black;
    align-items          : center;
    display              : grid;
    gap                  : 10px;
    grid-template-columns: 20px auto 20px;
    padding              : 10px;
    width                : 100%;
    background-color     : white;
    border-radius        : 5px;
    min-height           : 10vh;
    opacity              : 0;
    font-weight          : bolder;
>>>>>>> 311239852621fc34d870d30ddcf6c27b4c62d615
}

.toast-success {
    border: 1px solid rgb(0, 128, 55);
<<<<<<< HEAD
    color: rgb(0, 128, 55);
=======
    color : rgb(0, 128, 55);
>>>>>>> 311239852621fc34d870d30ddcf6c27b4c62d615
}

.toast-error {
    border: 1px solid rgb(146, 3, 3);
<<<<<<< HEAD
    color: rgb(146, 3, 3);
=======
    color : rgb(146, 3, 3);
>>>>>>> 311239852621fc34d870d30ddcf6c27b4c62d615
}

.toast-warning {
    border: 1px solid rgb(236, 174, 30);
<<<<<<< HEAD
    color: rgb(236, 174, 30);
}

.toast-icon {
    font-size: 20px;
=======
    color : rgb(236, 174, 30);
}

.toast-icon {
    font-size     : 20px;
>>>>>>> 311239852621fc34d870d30ddcf6c27b4c62d615
    vertical-align: middle;
}

.fa-close {
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.toast.show {
    animation: fadeIn 0.5s forwards;
}

.toast.hide {
    animation: fadeOut 0.5s forwards;
}